<ion-content [fullscreen]="true">

  <div class="login-container">
    <img src="../../../assets/icon/login.png" alt="Logo" class="login-logo" />
    <p class="login-title">LOGIN</p>

    <ion-item>
      <ion-input 
        label="Email" 
        type="email" 
        placeholder="name@gmail.com">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input 
        label="Password" 
        type="password" 
        placeholder="********">
      </ion-input>
    </ion-item>

    <ion-button expand="block" shape="round" color="primary">
      Entrar
    </ion-button>

    <ion-button expand="block" shape="round" color="primary">
      Create user
    </ion-button>
  </div>
</ion-content>
